body {
    margin: 0;
    padding: 0;
    background-image: url(ц35237898-9.jpg);
    background-size: cover;
}

.header {
    width: 100%;
    height: 75%;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.44879201680672265) 0%, rgba(91,88,92,0.6504726890756303) 0%, rgba(94,82,82,0.68968837535014) 40%, rgba(101,97,97,0.8073354341736695) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgb(30, 30, 30);
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.logo:hover {
transform: scale(1.2);
transition: transform 0.5s ease;
cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav ul {
      margin: 20px;
      display: flex;
      flex-direction: colum;
      list-style: none;
}

.nav ul li {
margin-right: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: all 0.7s ease;
}

.nav ul li a:hover {
    color: rgb(81, 80, 80);
    font-size: 24px;
}


.footer {
    width: 100%;
    height: 75%;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.44879201680672265) 0%, rgba(91,88,92,0.6504726890756303) 0%, rgba(94,82,82,0.68968837535014) 40%, rgba(101,97,97,0.8073354341736695) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.footer p {
    color: #000;
    font-size: 18px;
    margin-right: 15 px;
}

.content {
    display: flex;
    flex-direction: column;
}

.info-block {
    background-color: rgb(255, 0, 0);
    height: 500px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 40px;
     background: linear-gradient(90deg, rgba(194, 194, 198, 0.449) 0%, rgba(196, 190, 197, 0.216) 0%, rgba(148, 142, 142, 0.163) 42%, rgba(101,97,97,0.14627100840336138) 100%);   margin-bottom: 40px;
    background: rgb(98, 98, 101);

border-radius: 40px;
box-shadow: 0 10px 10px rgba(0,0,0,0.5);
} 

.info-block-secnd {
    background-color: rgb(255, 0, 0);
    height: 500px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-self: center;
     background: linear-gradient(90deg, rgba(194, 194, 198, 0.449) 0%, rgba(196, 190, 197, 0.216) 0%, rgba(148, 142, 142, 0.163) 42%, rgba(101,97,97,0.14627100840336138) 100%);   margin-bottom: 40px;
    background: rgb(98, 98, 101);
    margin: 40px auto ;
border-radius: 40px;
box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}


.info-block img {
    width: 90%;
    height: 100%;
}

.info-block-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-block-left button {
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #00710b;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.5s ease;
}

.info-block-left button:hover {
    background-color: #17bc28;
    cursor: pointer;
}

.info-block p {
    color: #000000;
    font-size: 34px;
}

.info-block-left,
.info-block-right {
    width: 50%;
    height: 100%;
}

.stage-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 80%;
    margin-bottom: 15px;
}

.stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stage p {
    font-size: 24px;

}

.image-block {
    height: 50px;
    width: 50px;
    transition: transform 0.5s ease;
}

.image-block:hover {
    transform: scale(1.3);
}

.dirt {
    background-image: url('images.jpeg');
    background-size: cover;
}

.stone {
    background-image: url('istockphoto-1324731349-1024x1024.jpg');
    background-size: cover;
}

.iron {
    background-image: url('istockphoto-933924484-612x612.jpg');
    background-size: cover;
}

.diamond {
    background-image: url('pixel-minecraft-134.webp');
    background-size: cover;
}

.friends-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-self: center;
    align-items: center;
    margin-bottom: 20px;
}

.friends-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
}


.friends-info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    background: linear-gradient(90deg, rgba(194, 194, 198, 0.449) 0%, rgba(196, 190, 197, 0.216) 0%, rgba(148, 142, 142, 0.163) 42%, rgba(101,97,97,0.14627100840336138) 100%);   margin-bottom: 40px;
    background: rgb(98, 98, 101);
    width: 60%;
    transition: width 1s ease;
    border-radius: 20%;
}

.friends-info-block:hover {
    width: 80%;
}

.friends-info-block img {
    height: 60px;
}

.friends-info-block p {
    font-size: 24px;
    margin-right: 40px;
    color: #fff7f7;
}

.friends-info-block {
    width: 60px;
}

.friends-info-block img {
    width: 150;
}

.minecraft-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 500px;
    margin-top: 20px;
}

    input[type="text"],
    textarea {
    border: 2px solid rgb(11, 182, 31);
    margin-bottom: 1px;
}
    input[type="submit"] {
    background-color: rgb(101, 119, 0);
}

.minecraft-form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50;
        margin-top: 30px;
        margin-bottom: 30px;
        background:
        rgb(8,65,4);
        background: radial-gradient (circle, Orgba(8,65,4,1) 0%, rgba(9,121,33,1) 49%, rgba(3,96,46,1) 100%);
        border-radius: 20px;
        box-shadow: 0 10px 10p Orgba(0, 0, 0, 0.8);
        padding: 20px;
}

input[type="text"],
textarea {
    border: 2px solid rgb(11, 182, 31);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
inbut[type="submit"] {
    background-color: rgb(196, 119, 3);
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.minecraft-form input[type="submit"]:hover {
    background-color: rgb(214, 131, 5);
}